.posts-list {
    width: 800px;
    margin: 0 auto;
    background-color: #fff;
    color: black;
}

.posts-item {
    position: relative;
    margin-bottom: 32px;

    &::after {
        width: 60px;
        height: 25px;
        content: 'travel';
        position: absolute;
        background: rgba(0, 0, 0, 0.2);
        color: white;
        text-align: center;
        text-transform: uppercase;
        border-radius: 30px;
        font-size: 8px;
        line-height: 24px;
        letter-spacing: 1px;
        top: 21px;
        right: 21px;
    }

    &:nth-child(1) {
        .posts-bg {
            background: url(../../img/post1.jpg) no-repeat center center;
            background-size: cover;
        }
    }

    &:nth-child(2) {
        &::after {
            content: '';
            display: none;
        }

        .posts-bg {
            background: url(../../img/post2.jpg) no-repeat center center;
            background-size: cover;
        }
    }

    &:nth-child(3) {
        margin-bottom: 0px;
        padding-bottom: 32px;

        &::after {
            content: 'Photography';
            width: 102px;
        }

        .posts-bg {
            background: url(../../img/post3.jpg) no-repeat center center;
            background-size: cover;
        }
    }

}

.posts-bg {
    padding: 160px 237px 40px 60px;
    color: #fff;
}

.posts-user-wrapper {
    display: flex;
}

.posts-user-img {
    width: 40px;
    height: 40px;
    margin-right: 14px;
    border-radius: 4px;
}

.posts-user-name {
    font-size: 18px;
    line-height: 19px;
    letter-spacing: 0em;
    margin-bottom: 2px;
    margin-top: 2px;
}

.posts-user-date {
    font-family: 'Lato';
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0em;
}

.posts-title {
    font-size: 28px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    margin-top: 20px;
}

.posts-item-text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #333333;
    margin-top: 36px;
    letter-spacing: 0.091px;
    margin-left: 60px;
    width: 664px;
    margin-bottom: 5px;
}

.posts-item-link {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    color: #8D4FDB;
    margin-left: 60px;
}

.posts-read {
    padding-top: 49px;
    padding-bottom: 67px;
    width: 800px;
    margin: 0 auto;
    text-align: center;
    background: rgba(241, 241, 241, 1);
}

.posts-read-text {
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0em;
    color: #333333;
    margin-bottom: 29px;

}

.posts-read-link {
    font-size: 10px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 16px 28px;
    background: rgba(141, 79, 219, 1);
    border-radius: 3px;
}